@import "tailwindcss";

body {
    @apply my-16 mx-4 md:mx-2;
    @apply bg-black text-white;
    background-image: url('images/background-01.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    @apply container md:max-w-2xl mx-auto;
}

header h1 {
    @apply text-6xl md:text-8xl font-bold;
    font-family: 'Dela Gothic One', system-ui, sans-serif;
}

.flyer{
    @apply mx-6 my-6;
}

h2.lineup {
    @apply text-4xl md:text-6xl font-bold tracking-widest;
    font-family: 'Dela Gothic One', system-ui, sans-serif;
}

ul {
    @apply list-none list-inside ml-12;
}

ul li {
    @apply text-2xl md:text-4xl font-bold tracking-widest ;
}


.ticket-center {
    @apply text-center mt-8;
}
.ticket {
    @apply my-6;
    @apply inline-block text-4xl md:text-6xl bg-white p-2 border-4 border-black text-black text-center font-bold my-6;
}

.tix {
    @apply text-8xl;
}