---
import Layout from '@layouts/Layout.astro'
import '@fontsource/dela-gothic-one'

import flyer from '@assets/2025-08-30-feral-flyer.jpg'

import { Image } from 'astro:assets'
---

<Layout>
	<main>
		<header>
		<h1 class="feral">FERAL</h1>
		</header>
		<hr class="acid-line"/>
 		<section class="flyer" id="flyer">
			<Image src={flyer} alt="FERAL flyer" class="w-full h-auto" />
		</section>
		<section class="about" id="about">
			<h2 class="lineup">Lineup</h2>
			<ul>
				<li>Marie Nyx</li>
				<li>AFFIRM</li>
				<li>Terrestrial Access Network</li>
				<li>AUTO TECHNIK SERVICE</li>
				<li>Ocean Man</li>
				<li>Share</li>
			</ul>
		</section>
		<div class="ticket-center">
			<section class="tickets" id="tickets">
				<h2 class="tix">GET YR TIX</h2>
				<p>Access is available through Resident advisor</p>
				<a href="https://www.residentadvisor.net/events/1798247" target="_blank" rel="noopener noreferrer" class="ticket">GET YR TICKETS</a>
			</section>
		</div>
		
		<footer>
		</footer>
	</main>
</Layout>
